.unit_wrapper {
    overflow: hidden;
    margin: 5px;
    padding: 0;
    background: #454545;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: border-color 0.2s ease-in-out;

    --highlight: #0f0;
}

.unit_wrapper.semi_used {
    --highlight: #ff0;
}

.unit_wrapper.unused {
    --highlight: #f00;
}

.unit_wrapper:hover {
    border-color: var(--highlight);
}

.unit_wrapper .title {
    padding: 10px;
    font-size: larger;
    color: var(--highlight);
    font-style: italic;
    font-weight: bold;
}

.unit_wrapper .line {
    padding: 0;
    height: 0;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.unit_wrapper.open .line {
    padding: 1px 5px 1px 5px;
    height: 20px;
}

.unit_wrapper .line .name {
    font-weight: bold;
    color: #fff
}

.unit_wrapper .line .value
{
    color: #0f0;
}

.unit_wrapper .line .value.unused
{
    color: #f00;
}